.container{
    display: flex;
    height: 100vh;    
}

/*
    flex-grow
    - flex-basis에서 설정한 최소값 이상의 내용이 들어가면 계속 늘어난다.
    - 이 때 얼마나 늘어날지를 지정할때 flex-grow를 사용한다.
    - 기본값은 0으로 0은 늘어나지 않는것을 의미한다.
    
    flex-grow를 지정하면
    - 남는 빈 공간을 grow의 비율로 나눠가진다.
    - 즉 1로 설정하면 1 : 1 : 1의 비율로 나눠가지며 해당 크기의 가로 사이즈를 넘어가게되면
    - 자동으로 줄바꿈이 된다.
*/
.item{
    flex-basis: 100px;
    /* flex-grow: 1; */
}

/* 
부모가 아닌 형제들에게 직접 그로우 설정을 하면 1 : 2 : 3 의 비율로 가지게 된다.
그리고 만일 첫번째와 세번째에만 1을 주고 두번째에 주지 않는다면 첫번째야 세번쨰만 남는 공간을 1:1의 비율로 나눠가진다.
*/
.box1 {
    background-color: #2980b9;
    flex-grow: 1;
}

.box2{
    background-color: #16a085;
    flex-grow: 2;
}

.box3{
    background-color: #e74c3c;
    flex-grow: 3;
}

body{
    color: white;
}