*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 100px 300px;
    /* 첫행만 100px이된다. 이럴때 사용하는게 grid-auto-xx */
    grid-template-rows: 100px; 

    /* 지정한 행 이외의 나머지 행에 대해서 200px을 적용한다. */
    grid-auto-rows: 200px;
}

.box1{
    background-color: #16a085;
}
.box2{
    background-color: #2980b9;
}
.box3{
    background-color: #f39c12;
}
.box4{
    background-color: #e74c3c;
}
.box5{
    background-color: #9b59b6;
}
.box6{
    background-color: #2c3e50;
}