.container{
    display: flex;
    height: 100vh;    
}

.item{
    flex-basis: 400px;
    /* 기본값 1, 줄어들 수 있다는 의미. */
    /* flex-shrink: 1; */

    /* 0, 줄어들지 않는다. */
    flex-shrink: 0;
}

/*
    만일 첫번째 박스만 고정하고 싶다면 첫번째 박스에만 flex-shrink: 0;을 주면된다.
*/
.box1 {
    background-color: #2980b9;

}

.box2{
    background-color: #16a085;

}

.box3{
    background-color: #e74c3c;

}

body{
    color: white;
}